text
lang en_US.UTF-8
keyboard --xlayouts='us'
timezone America/New_York --utc
eula --agreed
firstboot --disable
reboot --eject

network --bootproto=dhcp --device=link --activate --onboot=on
selinux --enforcing

rootpw changeme

%pre
mkdir /mnt/oemdrv
mount LABEL=OEMDRV /mnt/oemdrv
%end

## Include Kickstart fragments for Virtual Machines
%pre
if [[ $(hostnamectl chassis) == "vm" ]] ; then
  echo "%include /mnt/oemdrv/ks-include-user-vagrant.cfg" >> /tmp/ks-include.cfg
fi
%end

%include /tmp/ks-include.cfg


##
## Kickstart fragment to use an ISO as the installation source
##

cdrom

zerombr
clearpart --all --initlabel --drives=disk/by-id/scsi-*
reqpart --add-boot
## FIXME: encrypt when not testing
part pv.01 --fstype=lvmpv --grow # --encrypted --passphrase=redhat
volgroup rootvg pv.01
logvol / --vgname=rootvg --name=rootlv --fstype=ext4 --size=10000
logvol swap --vgname=rootvg --name=swaplv --fstype=swap --recommended
logvol /home --vgname=rootvg --name=homelv --fstype=ext4 --size=5000
logvol /export --vgname=rootvg --name=exportlv --fstype=ext4 --size=5000

firewall --enabled --ssh

%packages
@minimal-environment
git
ansible-core
%end
