##
## Kickstart fragment to add Vagrant user
##

user --name=vagrant --gecos="Vagrant User" --uid=1000 --password=vagrant
sshkey --username=vagrant "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN1YdxBpNlzxDqfJyw/QKow1F+wvG9hXGoqiysfJOn5Y vagrant insecure public key"
%post
  echo "vagrant ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/vagrant
  chmod 440 /etc/sudoers.d/vagrant
%end
